* {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
html, body {
	width: 100%;
	height: 100%;
	background: #F5F6EB;
	overflow: auto;
}
#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#root {
	height: 100%;
}
/*首部*/
#header {
	width: 100%;
	height: 80px;
	background: #161514;
	background: url(./resource/black.jpg);

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	#logo {
		width: 220px;
		height: 100%;
		margin-left: 10%;
		img {
			width: 220px;
			height: 100%;
		}
	}

	/*导航*/
	#header-nav {
		width: auto;
		height: 100%;
		margin-right: 10%;

		ul {
			width: 100%;
			height:30px;
			margin-top: 25px;
			display: flex;
			flex-grow: 1;
			justify-content: space-around;

			li {
				height:30px;
				line-height: 30px;
				color: #fff;
				
				margin-left:5px;
				margin-right:5px;
				padding-left: 15px;
				padding-right: 15px;
				
			}
			li:hover {
				background: #8192D6;
				border-radius: 3px;
			}
		}
	}
	
}

/*内容区*/
#main {
	display: flex;
	min-height: calc(100% - 180px);
}
/*尾部*/
#footer {
	width: 100%;
	height: 100px;
	background: #161514;
	background: url(./resource/black.jpg);

	display: flex;
	justify-content: center;

	p {
		align-self: center;
		width: auto;
		height: 35px;
		display: inline-block;
		line-height: 35px;
		color: #fff;
	}
	a.backtotop {
		position: relative;

		width: 120px;
		height: 50px;
		line-height: 65px;
		text-align: center;
		margin-top: 25px;
		margin-right: 50px;
		display: inline-block;
		color: #fff;

		background-image: url(./resource/top.png);
		background-size: 23px 23px;
		background-repeat: no-repeat;
		background-position: center top;
		/*margin-right: 50px;*/
	}
}