.index {
	width: 100%;
	height: auto;
	min-height: 1500px;

	background: #fff;
	background-image: url(./resource/welcome2.jpg);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	flex-direction: column;
}

/*图片滚动区*/
#focus {
	width: 100%;
	height: 580px;
	background: #fff;
	background: #F5F6EB;
	display: block;


	.focus-block {
		width: 90%;
		height:500px;
		margin-left: 5%;
		margin-top: 25px;
		background: #EFF0DC;
		float: left;
		overflow: hidden;
		position: relative;

		/*滚动图片大小：1400 * 500 */
		img.focus-img {
			width: 100%;
			height: 500px;
		}
	}
	/*所有图片*/
	.focus-all-images {
		display: none;
	}
	
	/*控制左右*/
	.focus-console {
		position: relative;

		.left {
			position: absolute;
			width: 80px;
			height: 500px;
			display: inline-block;
			left: 5%;
			top: 25px;
			cursor: pointer;

			&:hover {
				background: linear-gradient(to right, rgba(125,125,125,0.3), rgba(0,0,0,0)); /* 标准的语法 */
			}

			img {
				width: 50px;
				height: 50px;
				position: relative;
				top: 225px;
			}
		}
		.right {
			position: absolute;
			width: 80px;
			height: 500px;
			display: inline-block;
			right: 5%;
			top:  25px;
			cursor: pointer;

			&:hover {
				background: linear-gradient(to left, rgba(125,125,125,0.3), rgba(0,0,0,0)); /* 标准的语法 */
			}

			img {
				width: 50px;
				height: 50px;
				position: relative;
				top: 225px;
				float: right;
			}
		}
	}
	
	/*缩略标志*/
	.focus-thumbnail {
		width: 90%;
		height: 4px;
		margin-left: 5%;
		margin-top: 18px;
		float: left;

		div {
			float: left;
			display: inline-block;
			width: 100%;
			height: 4px;
			text-align: center;
		}
		div span {
			width: 80px;
			height: 4px;
			border-radius: 2px;
			display: inline-block;
			background: #bbb;
			background: #8192D6;
			margin:0 auto;
			margin-left: 5px;
			margin-right: 5px;
			text-indent:  -9999px;
			cursor: pointer;
		}
		div span.current {
			background: #EB3F2F;
		}
	}
	
}	


/*内容标题*/
.block-header {
	width: 100%;
	height: 120px;
	float: left;

	.title {
		width: 100%;
		margin-top: 30px;
		text-align: center;
		float: left;
		font-weight: 400;
		font-size: 1.5em;
		color: #000;
	}
	.title-description {
		width: 100%;
		height: 30px;
		float: left;
		color: #333;
		font-size: 0.9em;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 20px;
	}
}

/*内容主体*/
.block-content {
	width: 80%;
	align-self: center;
	
}

.index > div {
	display: flex;
	flex-direction: column;
}
/*简介*/
.introduction {
	width: 100%;
	min-width: 1400px;
	height: 300px;
	background: #EFF0DC;

	display: flex;
	flex-direction: column;

	.block-content p {
		font-size: 1.2em;
		text-indent: 2.4em;
		line-height: 35px;
		color: #555;
	}
}

/*团队分组、方向*/
.group {
	width: 100%;
	min-width: 1400px;
	height: 420px;
	background: #373E40;
	background: none;

	display: flex;
	flex-direction: column;

	.title {
		color: #000;
	}
	.title-description {
		color: #333;
	}
	.block-content {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		div {
			width: 300px;
			height: 250px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 15px;
		}
		div span {
			width:  130px;
			height: 130px;
			cursor: pointer;
			display: inline-block;
			border-radius: 50%;
			border: 10px solid #eee;
			transition-property: border;
			transition-duration: 1s;

			img {
				width: 70px;
				height: 70px;
				margin-left: 30px;
				margin-top: 25px;
				transition-property: scale();
				transition-duration: 1s;
			}

			&:hover img {
				transform: scale(1.25);
			}

			&:hover {
				border: 10px solid transparent;
			}
			p {
				width: 100%;
				height: 50px;
				margin-top: 20px;
				text-align: center;
				color: #000;
				font-size: 18px;
			}
		}
	}
}

/*文化*/
.culture {
	width: 100%;
	height: 400px;
	background: url(./resource/black.jpg);

	.block-header h2,
	.block-header p {
		color: #fff;
		/*text-shadow: 0px 0px 5px #000;*/
	}
	.block-content h2 {
		width: 100%;
		height: 100px;
		font-size: 2.8em;
		line-height: 120px;
		text-align: center;
		color: #fff;
		font-family: "微软雅黑";
		text-shadow: 0px 0px 5px #000;
	}
	.block-content h3 {
		width: 100%;
		font-size: 2.2em;
		line-height: 100px;
		text-align: center;
		color: #fff;
		font-family: "微软雅黑", Arial, "Helvetica Neue", Helvetica;
		text-shadow: 0px 0px 5px #000;
	}
}


/*新闻动态*/
.news {
	width: 100%;
	height: 480px;
	background: #EFF0DC;
	background: #F5F5F5;

	.block-content {
		width: 80%;
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.news-list {
		width: 40%;
		height: 320px;
		display: flex;
		flex-direction: column;
	}
	.news-list ul {
		width: 100%;
		display: flex;
		flex-direction: column;

		li {
			width: 100%;
			height: 60px;
			display: flex;
			flex-direction: column;
			margin-bottom: 8px;

			a {
				width: 100%;
				height: 30px;
				display: inline-block;
				line-height: 30px;
				color: #333;
				font-size: 1.2em;
				font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
				overflow: hidden;
				text-overflow: ellipsis;
			    white-space: nowrap;

			    a:hover {
					color: #337ab7;
				}

				b {
					font-weight: 400;
					margin-right: 5px;
				}
			}

			font {
				width: 100%;
				display: inline-block;
				color: #666;
				text-indent: 10px;
			}
		}
	}
	
}


/*联系方式*/
/*.contact {
	width: 100%;
	height: 400px;
	float: left;
	background: #F5F6EB;
}*/


/*友情链接*/
.links {
	width: 100%;
	height: 320px;
	background: #EFF0DC;

	.block-content {
		width: 80%;
		height: 120px;
		text-align: center;

		display: flex;
		flex-direction: row;
		flex-direction: flex-start;
	}
	.block-content a {
		width: 10%;
		min-width: 150px;
		height: 100px;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 10px;
		border: 1px solid #ccc;
	}
	.block-content img {
		width: 100%;
		height: 100%;	
	}
}